html,
body {
    background: rgb(41, 41, 41);
    height: 100%;
    padding: 0;
    font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}


.wrapper {
    height: 100%;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: stretch;
    flex: 1 100%;
    height: 100%;
}

.list {
    width: 100%;
    color: #505050;
}

.list div {
    padding: 5px;
    border-bottom: solid 1px #fff;
}

.list div i {
    float: right;
}


#fileToSave,
#fileAdd {
    cursor: pointer;
}


#fileToSave:hover {
    color: #fff;
}

.fileurl {
    cursor: pointer;
    background: #B98888;
}

.fileurl:hover {
    background: #A17070;
    color: #fff;
}




.col {
    display: block;
    float: left;
}

.col.side {
    width: 15%;
    height: 100%;
    background: #ccc;
    /*display: flex;*/
    
    overflow: scroll;
    color: #292929;
}

.col.main {
    width: 85%;
    position: fixed;
    height: 100%;
    overflow: scroll;
}

.col h3 {
    margin: 0;
}

.col .title {
    padding: 5px 10px;
    background: #261313;
    border-bottom: 1px solid #A58383;
}
.col .title i {
	float: right;
	cursor:pointer;
	padding:0 0 0 10px;
}