<div class="list">
	<div>
	<h3>File library <i id="fileAdd" class="fa fa-plus-square" title="Add a new file"></i></h3>
	</div>
		{{#each files}}
		<div class='fileurl' title='Select {{this}}' data-filelink='{{this}}'>{{this}}<i class='fa fa-remove' data-filelink='{{this}}' title='Delete file'></i>
		{{/each}}
	</div>
</div>
